body{
    background-color: #ddab58ff;
}

#map {
    height: 60%;
    width: 100%; 
    position: absolute;
    z-index: -3
}

h4{
    font-family:"Bookman";
    font-size:300%;
}

.lol{
    float:right;
}

.lol1{
    float:left;
}

.box {
    background-color: #222222;
    padding: 45px;
}